@{
  ViewData["Title"] = "Mahsulotlar Statistikalari";
}

<h2>Mahsulotlar Statistikalari</h2>
<p>Bu sahifa mahsulotlar statistikalarini ko'rsatadi.</p>
<p>Statistikalar:</p>
<ul>
    <li>Mahsulotlar soni: 100</li>
    <li>Eng ko'p sotilgan mahsulot: Mahsulot A</li>
    <li>Eng kam sotilgan mahsulot: Mahsulot Z</li>
    <li>O'rtacha sotilish narxi: $50</li>
</ul>
