@model MeningLoyiham.Models.Product

<h2>Confirm Delete</h2>

<p>Are you sure want to delete this product ?</p>
<p><strong>@Model.Name</strong> - @Model.Price</p>

<form asp-action="DeleteConfirmed" method="post">
  <input type="hidden" asp-for="Id" />
  <button type="submit">Yes, delete</button>
  <a href="/Product/Index">Cancel</a>
</form>
