@{
  ViewData["Title"] = "Aloqa";
}

<h1>Aloqa</h1>
<p>Biz bilan bog'lanish uchun quyidagi ma'lumotlardan foydalaning:</p
<h1>@ViewData["Title"]</h1>
<p>Bugungi sana: @DateTime.Now.ToShortDateString()</p>
