@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Dashboard";
}
<h2>Admin Dashboard</h2>
<p>Bu sahifa admin paneli uchun boshqaruv panelini ko'rsatadi.</p>
<p>Statistikalar:</p>
<ul>
    <li>Foydalanuvchilar soni: 500</li>
    <li>Mahsulotlar soni: 100</li>
    <li>Buyurtmalar soni: 200</li>
    <li>Eng ko'p sotilgan mahsulot: Mahsulot A</li>
    <li>Eng kam sotilgan mahsulot: Mahsulot Z</li>
    <li>O'rtacha sotilish narxi: $50</li>
</ul>
